<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <header>
        <div class="navbar">
        <div class="logo"><a href="../templates/index.html"><p class="am"><span class="g">G</span>amez</p></a></div>
        <div class="navlinks">
            <ul>
                <a href="../templates/index.html"><li>HOME</li></a>
               <a href="../templates/ourteams.html"> <li>OUR TEAM</li></a>
               <a href="../templates/games.html"><li>GAMES</li></a>
            </ul>
        </div>

        </div>
    </header>
    <hr>
    <section class="gamesec">
        <div class="card1">
            <div class="gmi"></div>
           <a href="../hangman-game-js-main/index.html"> <div class="gmt">The Hang man</div></a>
        </div>

        <div class="card2">
           <div class="gmi1"></div>
           <a href="../coding-summer-school-js-game-brick-en/coding-summer-school-js-game-brick-en/index.html"><div class="gmt1">The Block Game</div></a>

        </div>
       <a href="../tic-tac-toe-master/index.html"> <div class="card3">
            <div class="gmi2"></div>
            <div class="gmt2">Tic Tac Toe</div>
        </div></a>
    </section>
</body>
</html>