<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamez</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <header>
        <div class="navbar">
        <div class="logo"><a href="../templates/index.html"><p class="am"><span class="g">G</span>amez</p></a></div>
        <div class="navlinks">
            <ul>
               <a href="../templates/index.html"> <li>HOME</li></a>
               <a href="../templates/ourteams.html"> <li>OUR TEAM</li></a>
               <a href="../templates/games.html"><li>GAMES</li></a>
            </ul>
        </div>

        </div>
    </header>
    <hr>
    <section class="first-sec">
       <div class="txt">
        <div class="ft">PLAY,<p class="drg">ON REPEAT</p> </div>
        <div class="crt">
            <div class="circles">
                <div class="c1"></div>
                <div class="c2"></div>
                <div class="c3"></div>
            </div>
            <div class="ideas">& SMILE!</div>
        </div>
        <hr class="btm"> 
        <div class="lastt">
            <div class="os">OUR GOAL</div>
            <div class="wp">TO CREATE AS MANY SMILES <p class="as">AS POSSIBLE</p> </div>
        </div>
    </div>
       <div class="img">
        <div class="inside">PRESS THE <P class="bel">BTN BELLOW</P></div>  
        <a href="../templates/games.html"><div class="btn">Get Started!</div></a>
    </div>
    </section>
    <!-- second section -->
   




    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</body>
</html>